src/main/resources/logback.dtd

<!ELEMENT configuration (appender,root)>
<!ELEMENT appender (encoder)>
<!ATTLIST appender name NMTOKEN #REQUIRED>
<!ATTLIST appender class NMTOKEN #REQUIRED>
<!ELEMENT encoder (pattern)>
<!ELEMENT pattern (#PCDATA)>
<!ELEMENT root (appender-ref)>
<!ATTLIST root level NMTOKEN #REQUIRED>
<!ELEMENT appender-ref EMPTY>
<!ATTLIST appender-ref ref NMTOKEN #REQUIRED>